<template>
  <div id="app">
    <navbar-1></navbar-1><!-- Navigation Bar redirected to component at "src/components/navbar1.vue"-->
    <div>
      <b-carousel
        id="carousel-fade"
        style="text-shadow: 0px 0px 0px #000"
        fade
        indicators
        img-width="1024"
        img-height="480"
      >
      <!-- Building a navigation component(Carousel) used in the application redirected to component at "src/components/header2.vue"-->
        <header1
          v-for="d in data_.slice(18, 24)"
          :key="d.id"
          :download_url="d.download_url"
        ></header1>
      </b-carousel>
    </div>
    <br />
    <b-container>
      <b-row align-v="center">
      <!-- View image and there authors name redirected to component at "src/components/card.vue"-->
        <card
          v-for="d in display_data"
          :key="d.id"
          :name1="d.author"
          :download_url="d.download_url"
        ></card>
      </b-row>
      <!-- Navigation page numbers -->
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-text="First"
        prev-text="Prev"
        next-text="Next"
        last-text="Last"
        @input="paginate(currentPage)"
      ></b-pagination>
    </b-container>
  </div>
</template>

<script>
import Card from "@/components/card.vue";
import NavBar from "@/components/navbar1.vue";
import Header1 from "@/components/header2.vue";
export default {
  name: "App",
  components: {
    card: Card,
    "navbar-1": NavBar,
    header1: Header1
  },
  data() {
    return {
      data_: [],
      display_data: [],
      currentPage: 1,
      rows: 1,
      perPage: 6
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const res = await fetch("https://picsum.photos/v2/list");
      const val = await res.json();
      this.data_ = val;
      // console.log(this.data_);
      this.display_data = val.slice(0, 6);
      this.rows = this.data_.length;
    },
    paginate(currentPage) {
      const start = (currentPage - 1) * this.perPage;
      this.display_data = this.data_.slice(start, start + 6);
    }
  }
};
</script>

<style>
/* Additional css used */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
.img-fluid {
  margin-left: auto;
  margin-right: auto;
  float: none;
  max-width: 720px;
  height: 480px;
}
.carousel-caption {
  position: static;
  color: black;
  left: 0%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  font-size: 2.4rem;
  float: none;
}
</style>
