<template>
  <b-col cols="md-4">
        <!-- Used parameterized integration using v-bind to exchange data from app.vue-->
    <div>
      <b-card
        :title="name1"
        :img-src="download_url"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 40rem;"
        class="mb-2"
        footer=""
      >
        <!-- <b-button href="#" variant="primary">Go somewhere</b-button> -->
      </b-card>
    </div>
  </b-col>
</template>

<script>
export default {
  props: ["name1", "download_url"]
};
</script>

<style lang="scss" scoped></style>
